{% extends "m_base.html" %}

{% block style %}
{% endblock %}

{% block content %}
<!--老师班级账号关联-->
<div>
    <div style="display: flex;justify-content: space-between">
        <div class="dropdown" style="margin-bottom: 20px;">
            <button type="button" class="btn btn-danger dropdown-toggle" style="background-color: red;border: none;" data-bs-toggle="dropdown" id="btnclass"><$ classes[0].name $></button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for item in classes %}
                <li><a class="dropdown-item" href="#" onclick="selectClass('<$ item.name $>','<$ item.id $>')"><$ item.name $></a></li>
                {% endfor %}
            </ul>
        </div>
        <a style="text-decoration: none;" href="javascript:;" id="a_select" onclick="selectAll()">全部绑定</a>
    </div>
    <!--账号表-->
    <table id="mytable" class="table-box"></table>
</div>
<!--页码-->

{% endblock %}

{% block script %}
    <script>

        var currentClass = "<$ defaultname $>";
        var currentClassid = "<$ defaultid $>";

        var currentPageData; //当前页的列表数据

        //选中班级
        function selectClass(name,id){
            currentClass = name;
            currentClassid = id;
            $("#btnclass").html(name)
            $("#mytable").bootstrapTable('refresh', {url : "bindTeacherClass"});
        }


        function loadTable(num){
            $("#mytable").bootstrapTable({
                url:"bindTeacherClass",
                method:"post",
                dataField:"data", //返回json的key
                contentType:"application/json",
                dataType:"json",
                striped:false,
                cache:false,
                pagination:true,
                paginationDetailHAlign:"display",
                sidePagination:"server",
                pageNumber:1,
                pageSize:10,
                queryParams:function (param) {
                    var temp = {
                        cid:currentClassid,
                        page:(param.offset/param.limit)+1,
                        size:10,
                    };
                    return temp;
                },
                columns:[{
                    field:"username",
                    title:"账号id",
                },{
                    field:"nickname",
                    title:"姓名",
                    formatter:nameFormatter
                },{
                    field:"classid",
                    title:"绑定班级",
                    formatter:bindState
                },/*,{
                    field:"username",
                    title:"操作",
                    width:120,
                    align:"center",
                    valign:"middle",
                    formatter:actionFormatter
                }*/],
                onLoadSuccess:function(res){
                    currentPageData = res.data
                    console.log("table加载成功:"+res)
                    //全选按钮状态刷新
                    if(isAllBind()){
                        $("#a_select").html("全部解绑")
                    }else{
                        $("#a_select").html("全部绑定")
                    }
                },
                onLoadError:function(e){
                    console.log("table加载失败");
                },
            })
        }

        /**
         * 是否是所有账号都绑定
         */
        function isAllBind(){
            if(currentPageData){
                for(var i=0; i<currentPageData.length; i++){
                    if(currentPageData[i].classid == 0){
                        return false;
                    }
                }
                return true;
            }else{
                return false;
            }
        }

        /**
         * 账号状态
         * @param value
         * @param row
         * @param index
         */
        function bindState(value,row,index){
            if(row.classid == 0){
                return "<div style='display: flex;justify-content: left;align-items: center;'><input type='checkbox' style='margin-right: 5px;' onchange='bindClass(\""+row.uid+"\","+currentClassid+")'>"+currentClass+"</div>"
            }else{
                return "<div style='display: flex;justify-content: left;align-items: center;'><input type='checkbox' style='margin-right: 5px;' checked onchange='unBindClass(\""+row.uid+"\","+row.classid+")'>"+currentClass+"</div>"
            }
        }

        function nameFormatter(value,row,index){
            var name;
            if(row.nickname != undefined){
                name = row.nickname;
            }else{
                name = row.username;
            }
            return name;
        }

        //绑定班级
        function bindClass(uid,cid){
            post("teacher/bindMember",{uid:uid,role:1,classid:cid},function(res){
                $("#mytable").bootstrapTable('refresh', {url : "bindTeacherClass"});
            })
        }

        /**
         * 绑定当前所有账号
         */
        function bindClassAll(){
            if(currentClassid && currentPageData){
                var uids="";
                for(var i=0; i<currentPageData.length; i++){
                    if(currentPageData[i].classid == 0){
                        uids+=currentPageData[i].uid+","
                    }
                }
                if(uids.length > 0){
                    uids = uids.substring(0,uids.length-1)
                    post("teacher/bindManyMember",{uids:uids,role:1,classid:currentClassid},function(res){
                        $("#mytable").bootstrapTable('refresh', {url : "bindTeacherClass"});
                    })
                }
            }
        }

        //取消绑定
        function unBindClass(uid,cid){
            post("teacher/unBindMember",{uid:uid,classid:cid},function(res){
                $("#mytable").bootstrapTable('refresh', {url : "bindTeacherClass"});
            })
        }

        /**
         * 解绑所有账号
         */
        function unbindClassAll(){
            if(currentClassid && currentPageData){
                var uids="";
                for(var i=0; i<currentPageData.length; i++){
                    if(currentPageData[i].classid != 0){
                        uids+=currentPageData[i].uid+","
                    }
                }
                if(uids.length > 0){
                    uids = uids.substring(0,uids.length-1)
                    post("teacher/unBindManyMember",{uids:uids,role:1,classid:currentClassid},function(res){
                        $("#mytable").bootstrapTable('refresh', {url : "bindTeacherClass"});
                    })
                }
            }
        }

        /**
         * 全选
         */
        function selectAll(){
            var name = $("#a_select").html()
            if(name == "全部绑定"){
                $("#a_select").html("全部解绑")
                bindClassAll()
            }else{
                $("#a_select").html("全部绑定")
                unbindClassAll()
            }
        }

        loadTable(1)


    </script>
{% endblock%}