{% extends "m_base.html" %}

{% block style %}
{% endblock %}

{% block content %}
<div>
    <div>
        <input type="text" id="input_oldpw" class="input_txt" placeholder="请输入老密码">
    </div>
    <div style="margin-top: 30px;">
        <input type="text" id="input_newpw" class="input_txt" placeholder="请输入新密码">
    </div>
    <div style="margin-top: 30px;">
        <input type="button" style="margin-bottom: 30px;" value="修改密码" class="btn_red" onclick="editorPassword()">
    </div>
</div>

{% endblock %}

{% block script %}

<script>

    /**
     * 修改密码
     */
    function editorPassword(){
        var oldpw = $("#input_oldpw").val()
        var newpw = $("#input_newpw").val()
        if(oldpw == undefined || oldpw.length == 0){
            alert("请输入老密码")
        }else if(newpw == undefined || newpw.length == 0) {
            alert("请输入新密码")
        }else{
            var option = {
                oldpw:oldpw,
                newpw:newpw
            }
            post("index/editorPw",option,function (res) {
                if(res && res.errno == 0){
                    location.replace("../mclass/classmanager")
                }else{
                    alert(res.errmsg)
                }
            })
        }
    }
</script>

{% endblock %}