<style>

    .menuselected{
        font-weight: bold!important;
        color: red!important;
    }

    .menu a{
        padding: 5px 10px;
        color: white;
        text-decoration: none;
    }
</style>
<div>
    <!--画室名字-->
    <div class="school_name">
        <div><span id="schoolname"></span></div>
        <div class="school_loginout"><a href="javascript:;" onclick="loginout()">退出系统</a></div>
    </div>
    <div id="menu" style="margin-top: 30px;">
        <ul style="overflow-y: scroll;">
            <li class="close"><a id="classmanager" href="../mclass/classmanager">班级管理</a></li>
            <li class="close"><a id="teachermanager" href="../teacher/teachermanager">老师管理</a></li>
            <li class="close"><a id="teacherclassView" href="../teacher/teacherclassView">老师绑定班级</a></li>
            <li class="close"><a id="studentmanager" href="../student/studentmanager">学生管理</a></li>
            <li class="close"><a id="studentclassView" href="../student/studentclassView">学生绑定班级</a></li>
            <!--书籍图片管理-->
            <li>
                <div>
                    <div><a href="../book/schoolgallery">学校图库</a></div>
                    <ul>
                        <li class="close"><a id="schoolupload" href="../book/galleryupload?type=1">上传图片</a></li>
                        <li class="close"><a id="schoolmark" href="../book/markmanager?type=1">标签管理</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <div><a href="../book/schoolbookbag">学校书架</a></div>
                    <ul>
                        <li class="close"><a id="schoolcreatebook" href="../book/createbookbag">创建书本</a></li>
                        <li class="close"><a id="addsharebook" href="../book/sharebookbag">从共享书库添加图书</a></li>
                    </ul>
                </div>
            </li>
            {% if (sid == 1) %}
            <li class="close"><a id="schoolmanager" href="../code/schoolmanager">学校管理</a> </li>
            <!--共享书籍管理-->
            <li>
                <div>
                    <div>
                        <a href="../book/sharegallery">共享图片库</a>
                    </div>
                    <ul>
                        <li class="close"><a id="shareupload" href="../book/galleryupload?type=2">上传图片</a></li>
                        <li class="close"><a id="sharemark" href="../book/markmanager">标签管理</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <div><a href="../book/sharebookbag">共享书架</a></div>
                    <ul>
                        <li class="close"><a id="createsharebook" href="../book/sharebookbagmanager">创建书本</a></li>
                    </ul>
                </div>
            </li>
            {% else %}
            <li class="close"><a id="codeview" href="../code/codeview">激活码管理</a></li>
            {% endif %}
            <li class="close"><a id="brochureview" href="../brochure/brochureView">学校图标</a></li>
            <li class="close"><a id="admininfo" href="../index/admininfoView">管理员信息</a></li>

        </ul>
    </div>
</div>

<script>

    var schoolname = localStorage.getItem("name")
    $("#schoolname").text(schoolname)
    console.log("currentmenu："+"<$ currentmenu $>")
    var currentmenu = "<$ currentmenu $>"
    if(currentmenu != undefined){
        $("#"+currentmenu).addClass("menuselected")
    }

    /**
     * 退出系统
     */
    function loginout(){
        location.replace("http://res.yimios.com:9080/index/login")
    }

</script>